.samir{
    color: aqua;
}
#streamer{
    color: blueviolet;
}
h1{
    color: rgb(226, 40, 77);
}
table{
    background-color: rgb(168, 46, 199);
}
body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/949/555/749/abstract-huawei-lights-neon-hd-wallpaper-preview.jpg);
}